/* Root para colores base del CSS */

:root {
    --color-fondo: #333;
    --color-texto: #0f0;
    --color-primario: #444;
    --color-secundario: #555;
    --color-hover: #666;
}

/*

Rojo: #ff6347
Naranja: #ffa500
Amarillo: #ffd700
Verde: #0f0
Cyan: #00ced1
Azul: #1e90ff
Morado: #9370db

*/


/* CSS */

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, footer {
    background-color: var(--color-primario);
    padding: 10px;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header, .right-header {
    display: flex;
    gap: 10px;
}

.left-header button, .right-header button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 70%; /* Ajuste para reducir el ancho de la barra de búsqueda */
    margin-bottom: 10px;
}

#search-bar {
    flex-grow: 1;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

#clear, #search {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.categories button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery div {
    background-color: var(--color-secundario);
    width: 30%;
    height: 200px;
    margin: 10px;
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
    color: var(--color-texto);
}

/* APARTIR DE AQUI ES EL LOGIN */
.form-container {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Necesario para posicionar la línea vertical correctamente */
}

.form-container form {
    width: 45%;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input {
    width: calc(100% - 20px); /* Ajuste el ancho del input */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.form-container button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#divider {
    border: none;
    border-left: 2px solid var(--color-texto); /* Línea vertical */
    height: 90%; /* Ajuste la altura para que se quede dentro del contenedor */
    margin: 0 20px; /* Espacio alrededor de la línea */
    position: absolute; /* Para que no empuje el contenido */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
}


/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: var(--color-primario); /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados del pulgar */
    border: 2px solid var(--color-fondo); /* Borde alrededor del pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover); /* Color del pulgar al pasar el ratón por encima */
}
