/* Root para colores base del CSS */

:root {
    --color-fondo: #333;
    --color-texto: #0f0;
    --color-primario: #444;
    --color-secundario: #555;
    --color-hover: #666;
}

/* CSS */

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, nav, footer {
    background-color: var(--color-primario);
    padding: 10px;
    margin-bottom: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header, .right-header {
    display: flex;
    gap: 10px;
}

.left-header button, .right-header button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 70%; /* Ajuste para reducir el ancho de la barra de búsqueda */
    margin-bottom: 10px;
}

#search-bar {
    flex-grow: 1;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

#clear, #search {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.categories {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 10px;
}

.categories button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-gallery div {
    background-color: var(--color-secundario);
    width: 30%;
    height: 200px;
    margin: 10px;
}

footer {
    margin-top: auto;
}

footer p {
    text-align: center;
    color: var(--color-texto);
}

/* APARTIR DE AQUI ES EL LOGIN */
.form-container {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; /* Necesario para posicionar la línea vertical correctamente */
}

.form-container form {
    width: 100%;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
}

.form-container input {
    width: calc(100% - 20px); /* Calcula el ancho restando los márgenes */
    max-width: 100%; /* Asegura que no exceda el 100% del contenedor */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.form-container button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

#divider {
    border: none;
    border-left: 2px solid var(--color-texto); /* Línea vertical */
    height: 90%; /* Ajuste la altura para que se quede dentro del contenedor */
    margin: 0 20px; /* Espacio alrededor de la línea */
    position: absolute; /* Para que no empuje el contenido */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* Centrado horizontal y vertical */
}


/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: var(--color-primario); /* Color de la pista de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secundario); /* Color del pulgar de la barra de desplazamiento */
    border-radius: 10px; /* Bordes redondeados del pulgar */
    border: 2px solid var(--color-fondo); /* Borde alrededor del pulgar */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-hover); /* Color del pulgar al pasar el ratón por encima */
}



/* Estilo para la imagen de perfil */ 
.profile-pic {
    width: 150px; /* Ajusta el ancho deseado */
    height: 150px; /* Ajusta la altura deseada */
    object-fit: cover; /* Ajuste para asegurar que la imagen mantenga su proporción */
    border-radius: 50%; /* Para hacer la imagen redonda */
    border: 2px solid var(--color-texto); /* Añadir un borde */
}




/* CSS previo aquí */

.half-container {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-bg {
    background-image: url('../images/loginweypic.jpg');
    background-size: cover;
    background-position: center;
}

#register-bg {
    background-image: url('../images/registerweypic.jpg');
    background-size: cover;
    background-position: center;
}


.half-container form {
    width: 100%;
}

.half-container form label {
    display: block;
    margin: 10px 0 5px;
}

.half-container form input {
    width: calc(100% - 20px); 
    max-width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.half-container form button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}


/* Animaciones CSS para las transiciones */
@keyframes slideInLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.half-container {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.half-container.animate-slide-left {
    animation: slideInLeft 0.5s forwards;
}

.half-container.animate-slide-right {
    animation: slideInRight 0.5s forwards;
}

.background-image.animate-fade-out {
    animation: fadeOut 0.5s forwards;
}


/* Apartir de aqui la wea del aside */


.user-aside {
    position: fixed;
    top: 0;
    right: 0;
    width: 220px;
    height: 100%;
    background-color: var(--color-primario);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    box-sizing: border-box;
    z-index: 1000;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-aside {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: var(--color-texto);
    font-size: 20px;
    cursor: pointer;
}

.user-profile img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--color-texto);
    margin-bottom: 10px;
}

.user-profile p {
    font-size: 16px;
    margin-bottom: 20px;
    color: var(--color-texto);
    text-align: center;
}

.user-profile button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 10px);
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    cursor: pointer;
}

.user-profile button[disabled] {
    background-color: grey;
    cursor: not-allowed;
}

/* Estilos para la notificación de cierre de sesión */
.notification {
    display: none; /* Ocultar por defecto */
    position: fixed;
    z-index: 1001; /* Asegúrate de que esté por encima del aside */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    justify-content: center;
    align-items: center;
}

.notification-content {
    background-color: var(--color-primario);
    padding: 20px;
    border: 1px solid var(--color-texto);
    text-align: center;
    color: var(--color-texto);
}

.notification-content button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.notification-content button:hover {
    background-color: var(--color-hover);
}


/* CSS para el modal */

.modal-container {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: var(--color-primario);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    width: 80%;
    height: 80%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

#newPostForm { 
    display: flex; 
    flex-direction: column; 
    width: 100%; 
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    width: 100%;
    height: 100%;
}

.left-panel, .right-panel {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cTitulo {
    height: 10%; /* Alto proporcional al contenedor */
    text-align: left; /* Alinear texto a la izquierda */
    vertical-align: top; /* Alinear texto verticalmente arriba */
}


#tDescripcion { 
    height: 30%; /* Alto proporcional al contenedor */ 
}

.controls {
    margin-top: 10px;
}

#hashtags {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.input-field, input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid var(--color-texto);
    background-color: var(--color-secundario);
    color: var(--color-texto);
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.buttons button {
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 45%;
}

.field-label {
    margin-top: 10px;
    font-weight: bold;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tag-item {
    background-color: var(--color-secundario);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: var(--color-texto);
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.gallery-item {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
    text-align: center;
}

.gallery-item img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#carousel {
    width: 400px;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.arrow, .remove {
    cursor: pointer;
    user-select: none;
    position: absolute;
}

.arrow {
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.remove {
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    border-radius: 50%;
}
